/**
*
* Copyright 2012 Adobe Systems Inc.;
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
*/
@import button
@import button-bar
/* topdoc
  name: Tab Bar
  description: Component of grouped buttons
  modifiers:
    :disabled: Disabled state
  markup:
    <div class="topcoat-tab-bar">
      <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar-1">
        <button class="topcoat-tab-bar__button">One</button>
      </label>
      <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar-1">
        <button class="topcoat-tab-bar__button">Two</button>
      </label>
      <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar-1">
        <button class="topcoat-tab-bar__button">Three</button>
      </label>
    </div>
  examples:
    mobile tab bar: http://codepen.io/Topcoat/pen/rJICF
  tags:
    - desktop
    - light
    - dark
    - mobile
    - tab
    - group
    - bar
*/
.topcoat-tab-bar {
  @extend .button-bar
}

.topcoat-tab-bar__item {
  @extend .button-bar__item
}

.topcoat-tab-bar__item > input {
  @extend .button-bar__item > input
}

.topcoat-tab-bar__button {
  @extend .button;
  border-top: 1px solid #a5a8a8;
  background-color: #e5e9e8;
  box-shadow: inset 0 1px #fff;
  color: #454545;
  text-shadow: 0 1px #fff;
}

.topcoat-tab-bar__button:active,
.topcoat-tab-bar__button--large:active,
:checked + .topcoat-tab-bar__button {
  color: #0083e8;
  background-color: #e0f0fa;
  box-shadow: inset 0 0 2px #c0ced8;
}

.topcoat-button-bar__button:disabled {
  @extend .button--disabled;
}

.topcoat-button-bar__button:hover {
}

.topcoat-button-bar__button:focus,
.topcoat-button-bar__button--large:focus {
  box-shadow: 0 0 0 2px #6fb5f1;
  z-index: 1;
}
